.footer-heading{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color:rgba(255, 255, 255, 0.616);
    font-weight: 500;
    font-size:20px;
}

.footer-link{
    font-family: RubikRegular, Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight: 500;
    color:#f1bb23;
}

.footer-link:hover{
    color:white;
    cursor:pointer;
}

.footer-bootom-text{
    font-weight: 400;
    font-family: RubikRegular, Arial, Helvetica, sans-serif;
    font-size:14px;
    color:white;
}

.bgImage{
    background-image: url('../assets/Cool-Blue-Backgrounds-HD.jpg');
    background-size: cover;
}